@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap&subset=latin-ext,greek,greek-ext');
.header-top {
    width: 100%;
    background: #8acad1;
}
.header-bottom {
    position: static;
    width: 100%;
    background: #1695a3;
    top: 0;
    left: 0;
    z-index: 20;
}
.header-top a:hover,
.header-bottom a:hover {
    text-decoration: none !important;
}
.header-inner {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3px;
    padding-bottom: 3px;
}
.header-inner ul {
    display: flex;
    list-style-type: none;
    margin: 0;
}
.top-menu a {
    font-size: 14px;
    font-family: 'Roboto', Arial, sans-serif;
    line-height: 28px;
    font-weight: 700;
    color: #0b6f7a;
    text-transform: uppercase;
    padding: 0 8px;
}
.top-menu a:hover {
    color: yellow;
}
.icons {
    position: relative;
    top: -3px;
    padding-left: 80px;
}
.icons a {
    font-size: 16px;
    color: #fff;
    margin-right: 5px;
}
.icons .fa-facebook-f:hover {
    color: #3b5998;
}
.icons .fa-twitter:hover {
    color: #00aced;
}
    .icons .fa-youtube:hover {
    color: #b00;
}

.ept {
    background: #fff;
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 700;
    color: #1695a3;
    padding: 0px 10px;
    border-radius: 15px;
}
.header-bottom .header-inner {
    padding: 0;
}
.bottom-menu a {
    font-size: 16px;
    line-height: 45px;
    font-weight: 700;
    font-family: 'Roboto', Arial, sans-serif;
    color: #f3ffe2;
    text-transform: uppercase;
    padding: 0 15px;
}
.bottom-menu a:hover {
    background: #fff !important;
    color: #000 !important;
}
.bottom-menu .arrow {
    margin-left: 5px;
}
.bottom-menu a:nth-of-type(5) {
    background: #0b6f7a;
}
.bottom-menu a:nth-of-type(6) {
    background: #09555d;
}
.search a {
    font-size: 16px;
    color: #fff;
}
.burger {
    display: none;
    color: #fff;
}
@media(max-width:480px) {
    .burger {
        display: inline-block;
    }
    .header-inner .bottom-menu {
        display: none;
    }
    .header-bottom .header-inner {
        padding: 10px;
    }
    .header-top {
        display: none;
    }
    .header-bottom {
        position: fixed;
    }
}